{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/enginewerkemission/vendor/jQuery/jquery-1.7.2.min.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/vendor/Resumable/resumable.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/resumableFileUpload.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/vendor/CryptoJS/md5.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/vendor/SparkMD5/spark-md5.min.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/vendor/jStorage/jstorage.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/base.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/pasteImageFromClipboard.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/app-response.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/simple-search.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/show-file.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/simple-search.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/show-file.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/font-style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/vendor/Resumable/resumable.css') }}">
{% endblock %}

{% import '::macro.html.twig' as marco %}

{% block body %}
<div id="emissionApplicationContainer">
<!-- The fileinput-button span is used to style the file input field as button -->
    <div id="emissionSettingsContainer" class="hidden">
        <div><a href="" id="emissionSettingsContainerUpperSwitch" title="{% trans %}gui.close_settings{% endtrans %}"><img src="/bundles/enginewerkemission/img/1382042732_down4.png"/></a></div>
        {% if app.environment == 'dev' %}
        {% endif %}
        <div><input type="checkbox" id="promptForScreenshotFilename"/><label for="promptForScreenshotFilename">{% trans %}gui.prompt_for_pasted_image_name{% endtrans %}</label></div>
        <div><input type="checkbox" id="askBeforeDeleteCheckBox"/><label for="askBeforeDeleteCheckBox">{% trans %}gui.ask_before_delete_file{% endtrans %}</label></div>
        <div><input type="checkbox" id="enableSimpleSearchCheckBox"/><label for="enableSimpleSearchCheckBox">{% trans %}gui.use_simple_search{% endtrans %}</label></div>
        <div><input type="checkbox" id="enableAutoFilePreviewCheckBox"/><label for="enableAutoFilePreviewCheckBox">{% trans %}gui.auto_file_preview{% endtrans %}</label></div>
    </div>

    <div id="emissionMainMenuContainer">
        <div style="text-align: right; color:#323232;"><span style="float: left;">{{ company_name }}</span>{% if app.user %}{{ app.user.username }}{% else %}Unknown user{% endif %} <a href="{{ path('logout') }}" title="Logout Yourself ;)"><img src="/bundles/enginewerkemission/img/1382043670_519564-060_Off.png"/></a> <a href="" id="emissionSettingsContainerSwitch" title="{% trans %}gui.open_settings{% endtrans %}"><img src="/bundles/enginewerkemission/img/1382042110_45_Menu.png"/></a></div>
    </div>
    <div id="emissionFileDropContainer">
        <div id="dropbox">
            <div id="browse"></div>
        </div>
    </div>
    <div id="emissionSimpleSearchContainer">
        <input type="text" id="simpleSearchInput"/>
    </div>

    <div id="emissionFileListUploadContainer">
        <div id="dropbox_progress">
            <div class="progressHolder">
                <div class="progress"></div>
            </div>
        </div>

        <!-- The container for the uploaded files -->
        <div id="files" class="files">
            <table cellspacing="0" cellpadding="10" id="filesTable" class="center">
                <tbody>
            {% for File in Files %}
                <tr{% if File.complete == 1 %} data-file-completed="yes"{% endif%} data-file-id="{{ File.id }}" data-search="{{ File.name }}" id="fhash-{% if File.checksum == null %}{{ File.name|md5 }}{% else %}{{ File.checksum }}{% endif %}">
                    <td>
                        <div class="fileName">{% if File.complete == 0 %}(incomplete){% endif %}{{ File.name }}</div>
                        <div class="fileUploadedBy">{{ File.UserName }}</div>
                        <div class="fileSize">{{ marco.bytesToSize(File.size) }}</div>
                    </td>
                    {% if File.complete == 1 %}
                        <td class="fileOptions">
                            <a href="{{ path('show_file', {'file': File.fileId}) }}" class="show_file" data-show-file-content-href="{{ path('show_file_content', {'fileShortIdentifier': File.fileId}) }}">{% trans %}gui.show_file{% endtrans %}</a>
                            <a href="{{ path('download_file', {'fileShortIdentifier': File.fileId}) }}" class="fileOptionsDownloadLink">{% trans %}gui.download_file{% endtrans %}</a>
                            <a href="{{ path('open_file', {'fileShortIdentifier': File.fileId}) }}" class="fileOptionsOpenLink">{% trans %}gui.open_file_in_browser{% endtrans %}</a> -
                            <a href="{{ path('delete_file', {'file': File.fileId}) }}" class="remove-file" data-filename="{{ File.name }}">{% trans %}gui.remove_file{% endtrans %}</a>
                        </td>
                    {% else %}
                        <td class="fileOptions">
                            <a href="{{ path('delete_file', {'file': File.fileId}) }}" class="remove-file" data-filename="{{ File.name }}">{% trans %}gui.remove_file{% endtrans %}</a>
                        </td>
                    {% endif%}
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="filePreviewWindow" class="filePreview" style="display:none;">
    <div class="background"></div>
    <div class="window">
        <div class="container panel">
            <div class="toolbar">
                <button class="close">close</button>
            </div>
            <div class="content">
                <h2>Filename</h2>
                <a href="">{% trans %}gui.download_file{% endtrans %}</a>
                <a href="">{% trans %}gui.open_file_in_browser{% endtrans %}</a>
                <a href="">{% trans %}preview{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // memory_limit: {{ Capabilities.memory_limit }},
    // upload_max_filesize: {{ Capabilities.upload_max_filesize }},
    // post_max_size: {{ Capabilities.post_max_size }},
    // browser_file_memory_limit: {{ Capabilities.browser_file_memory_limit }}

    var url = '{{ path('upload_file') }}';
    var urlChunkTest = '{{ path('upload_file_chunk_test') }}';
    var maxChunkSize = ({{ MaxUploadFileSize }} * 1024 * 1024); // to MB

    var appUserName = '{% if app.user %}{{ app.user.username }}{% else %}Unknown user{% endif %}';

    var postdata = {'_tokenFile' : '{{FileForm._tokenFile.vars.value}}', '_tokenFileBlock' : '{{FileBlockForm._tokenFileBlock.vars.value}}'};
    {# var postdata = {'_tokenFile' : '{{FileFormToken}}', '_tokenFileBlock' : '{{FileBlockFormToken}}'}; #}
    var pendingFilesNumber = 0;

    $('#emissionSettingsContainerSwitch, #emissionSettingsContainerUpperSwitch').click(function(event){

        $('#emissionSettingsContainer').toggleClass('hidden');

        event.preventDefault();
    });

    $(function(){

        // Option - Ask before delete
        if($.jStorage.get('app.settings.ask_before_delete', 'yes') === 'yes') {
            $('#askBeforeDeleteCheckBox').attr('checked', 'checked');
        }

        $('#askBeforeDeleteCheckBox').change(function(){
            var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
            $.jStorage.set('app.settings.ask_before_delete', option);
            log($.jStorage.get('app.settings.ask_before_delete', 'yes'));
        });

        // Option - Fast and stable network - LAN
        if($.jStorage.get('app.settings.fast_and_stable_network', 'yes') === 'yes') {
            $('#fastAndStableNetworkCheckBox').attr('checked', 'checked');
        }

        $('#fastAndStableNetworkCheckBox').change(function(){
            var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
            $.jStorage.set('app.settings.fast_and_stable_network', option);
            log($.jStorage.get('app.settings.fast_and_stable_network', 'yes'));
        });

        // Option - Prompt for screenshot file name
        if($.jStorage.get('app.settings.prompt_for_screenshot_filename', 'yes') === 'yes') {
            $('#promptForScreenshotFilename').attr('checked', 'checked');
        }

        $('#promptForScreenshotFilename').change(function(){
            var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
            $.jStorage.set('app.settings.prompt_for_screenshot_filename', option);
            log($.jStorage.get('app.settings.prompt_for_screenshot_filename', 'yes'));
        });

        // Option - Simple search
        if($.jStorage.get('app.settings.enable_simple_search', 'yes') === 'yes') {
            $('#enableSimpleSearchCheckBox').attr('checked', 'checked');
            simpleSearchEnable();
        }

        $('#enableSimpleSearchCheckBox').change(function(){
            var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
            $.jStorage.set('app.settings.enable_simple_search', option);
            log($.jStorage.get('app.settings.enable_simple_search', 'yes'));
            if(option === 'yes') {
                simpleSearchEnable();
            } else {
                simpleSearchDisable();
            }
        });

        // Option - Enable auto file preview
        if($.jStorage.get('app.settings.enable_auto_file_preview', 'yes') === 'yes') {
            $('#enableAutoFilePreviewCheckBox').attr('checked', 'checked');
        }

        $('#enableAutoFilePreviewCheckBox').change(function(){
            var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
            $.jStorage.set('app.settings.enable_auto_file_preview', option);
            log($.jStorage.get('app.settings.enable_auto_file_preview', 'yes'));
        });
    });

</script>
{% endblock %}
