{% extends '::base.html.twig' %}

{% block title %}File list - Emission{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/enginewerkemission/js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/vendor/resumable/resumable.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/base.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/md5.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/vendor/SparkMD5/spark-md5.min.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/vendor/jStorage/jstorage.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/pasteImageFromClipboard.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/app-response.js') }}"></script>
<script src="{{ asset('bundles/enginewerkemission/js/resumableFileUpload.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/resumable.css') }}">
{% endblock %}

{% import '::macro.html.twig' as marco %}

{% block body %}
<!-- The fileinput-button span is used to style the file input field as button -->
    <div id="emissionSettingsContainer" class="hidden">
        <div><a href="" id="emissionSettingsContainerUpperSwitch" title="Close settings"><img src="/bundles/enginewerkemission/img/1382042732_down4.png"/></a></div>
        {% if app.environment == 'dev' %}
        {% endif %}
        <div><input type="checkbox" id="promptForScreenshotFilename"/><label for="promptForScreenshotFilename">Prompt for screenshot filename</label></div>
        <div><input type="checkbox" id="askBeforeDeleteCheckBox"/><label for="askBeforeDeleteCheckBox">Ask before delete file</label></div>        
    </div>
    
    <div id="emissionMainMenuContainer">
        <div style="text-align: right; color:#323232;"><span style="float: left;">{{ company_name }}</span>{{ app.user.username }} <a href="{{ path('logout') }}" title="Logout Yourself ;)"><img src="/bundles/enginewerkemission/img/1382043670_519564-060_Off.png"/></a> <a href="" id="emissionSettingsContainerSwitch" title="Open settings"><img src="/bundles/enginewerkemission/img/1382042110_45_Menu.png"/></a></div>
    </div>
    <div id="emissionFileDropContainer">
        <div id="dropbox">
            <div id="browse"></div>
        </div>
    </div>
    
    <div id="emissionFileListUploadContainer">
        <div id="dropbox_progress">
            <div class="progressHolder">
                <div class="progress"></div>
            </div>
        </div>
        
        <!-- The container for the uploaded files -->
        <div id="files" class="files">
            <table cellspacing="0" cellpadding="10" id="filesTable" class="center">
                <tbody>
            {% for File in Files %}
                <tr{% if File.isComplete == 1 %} data-file-completed="yes"{% endif%} data-file-id="{{ File.id }}" id="fhash-{% if File.checksum == null %}{{ File.name|md5 }}{% else %}{{ File.checksum }}{% endif %}">
                    <td class="fileName">{{ File.name }}{% if File.isComplete == 0 %} (incomplete){% endif %}</td>
                    <td class="fileUploadedBy">{{ File.uploadedBy }}</td>
                    <td class="fileHashID">{{ File.fileId }}</td>
                    <td class="fileType">{{ File.type }}</td>
                    <td class="fileSize">{{ marco.bytesToSize(File.size) }}</td>
                    <td class="fileExpirationDate">{{ File.expirationDate|date("Y-m-d H:i:s") }}</td>
                    <td class="fileUpdatedAt">{{ File.updatedAt|date("Y-m-d H:i:s") }}</td>
                    <td class="fileCreatedAt">{{ File.createdAt|date("Y-m-d H:i:s") }}</td>
                    {% if File.isComplete == 1 %}
                        <td class="fileOptions">
                            <a href="{{ path('show_file', {'file': File.fileId}) }}">show</a> 
                            <a href="{{ path('download_file', {'file': File.fileId}) }}" class="fileOptionsDownloadLink">save</a> 
                            <a href="{{ path('open_file', {'file': File.fileId}) }}" class="fileOptionsOpenLink">open</a> - 
                            <a href="{{ path('delete_file', {'file': File.fileId}) }}" class="remove-file" data-filename="{{ File.name }}">delete</a>
                        </td>
                    {% else %}
                        <td class="fileOptions">
                            <a href="{{ path('delete_file', {'file': File.fileId}) }}" class="remove-file" data-filename="{{ File.name }}">delete</a>
                        </td>
                    {% endif%}
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">        
        var url = '{{ path('upload_file') }}'
        var urlChunkTest = '{{ path('upload_file_chunk_test') }}'
        var maxChunkSize = ({% if max_chunk_size > 16 %}16{% else %}{{max_chunk_size}}{% endif %} * 1024 * 1024); // to MB
        var postdata = {'_tokenFile' : '{{FileForm._token.vars.value}}', '_tokenFileBlock' : '{{FileBlockForm._token.vars.value}}'};
        var pendingFilesNumber = 0;
               
        $('#emissionSettingsContainerSwitch, #emissionSettingsContainerUpperSwitch').click(function(event){
            
            $('#emissionSettingsContainer').toggleClass('hidden');
            
            event.preventDefault();
        });
        
        $(function(){
            
            // Option - Ask before delete
            if($.jStorage.get('app.settings.ask_before_delete', 'yes') === 'yes') {
                $('#askBeforeDeleteCheckBox').attr('checked', 'checked');
            }
            
            $('#askBeforeDeleteCheckBox').change(function(){
                var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
                $.jStorage.set('app.settings.ask_before_delete', option);
                log($.jStorage.get('app.settings.ask_before_delete', 'yes'));
            });
            
            // Option - Fast and stable network - LAN
            if($.jStorage.get('app.settings.fast_and_stable_network', 'yes') === 'yes') {
                $('#fastAndStableNetworkCheckBox').attr('checked', 'checked');
            }
            
            $('#fastAndStableNetworkCheckBox').change(function(){
                var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
                $.jStorage.set('app.settings.fast_and_stable_network', option);
                log($.jStorage.get('app.settings.fast_and_stable_network', 'yes'));
            });
            
            // Option - Prompt for screenshot file name
            if($.jStorage.get('app.settings.prompt_for_screenshot_filename', 'yes') === 'yes') {
                $('#promptForScreenshotFilename').attr('checked', 'checked');
            }
            
            $('#promptForScreenshotFilename').change(function(){
                var option = ($(this).attr('checked') === 'checked') ? 'yes' : 'no';
                $.jStorage.set('app.settings.prompt_for_screenshot_filename', option);
                log($.jStorage.get('app.settings.prompt_for_screenshot_filename', 'yes'));
            });
        });
        
    </script>
{% endblock %}

