{% extends '::base.html.twig' %}

{% block title %}{{ File.name }} description - Emission{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/enginewerkemission/css/resumable.css') }}">
{% endblock %}

{% import '::macro.html.twig' as marco %}

{% block body %}
<div id="files" class="files">
    <h2>{{ File.name }}</h2>
    {% if File.checksum %}Checksum: {{ File.checksum }}<br />{% endif %}
    Type: {{ File.type }}<br />
    Size: {{ marco.bytesToSize(File.size) }}<br />
    Click to 
    <a href="{{ path('download_file', {'file': File.fileId}) }}">save</a> 
    <a href="{{ path('open_file', {'file': File.fileId}) }}">open</a> 
</div>
{% endblock %}